/*CSS reset*/
 /* Base HTML Styles */
 @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=IndieFlower&display=swap');

 :root {
   --brand: #d6b9e6;
   --action: #d6b9e6;
   --white: #ffffff;
   --base-light: #0a9396;
   --base-dark: #005f73;
   --black: #0d0711;
   --text: var(--white);
  --heading-font: "Indie Flower", cursive;
  --body-font: "Exo", sans-serif;
 }
 html, body {
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight:<weight>;
    font-style: normal;
    font-size: larger;
    
  }
  
  /* Add Heading styles here  */
  
  h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-style: normal;
  }
  .h1{border: 10px solid var(--base-light);

  }
  h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
  }
  h3 {
  font-family: var(--heading-font)
  }
  h4 {
  font-family: var(--heading-font)
  }
  h5{
  font-family: var(--heading-font)
  }
  h6{
  font-family: var(--heading-font)
  }
  
  /*.header & checkbox*/
  .checkbox{
    display: flex;
    align-items:center;
  }
  header{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--base-light);
  }
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

header{
    unicode-bidi: isolate;
}

body{
    background-color: var(--base-darker);
}
  /*.headerphoto*/
  .headerphoto{
    border-radius: 50%;
}
 @media (min-width: 768px) {
    .headerphoto {
        height: 100px;
    }
 }

  /* .mobile-nav */
 .mobile-nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
   padding: 4px 16px;
  }
  
  /* .desktop-nav */
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav a {
        text-decoration: none;
        font-size: larger;
        color: var(--white);
        background-color: var(--base-light);
    }
  
    .desktop-nav {
        display: inline-block;
    }
  }

  /* .hamburger-icon  */
 .hamburger-icon {
    height: 50px;
  }
  
  /* style to make style guide */
  body {
    padding: 20px;
  }
  .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .colors div {
    width: 100px;
    height: 100px;
  }
  
  .brand {
    background-color: var(--brand);
  }
  /* .brand-alt {
    background-color: var(--brand-alt);
  } */
  .action {
    background-color: var(--action);
  }
  /* .action-alt {
    background-color: var(--action-alt);
  } */
  /* .base-darkest {
    background-color: var(--base-darkest);
  }
  .base-darker {
    background-color: var(--base-darker);
  } */
  .base-dark {
    background-color: var(--base-dark);
  }
  /* .base-mid {
    background-color: var(--base-mid);
  } */
  .base-light {
    background-color: var(--base-light);
  }
  /* .base-lighter {
    background-color: var(--base-lighter);
  }
  .base-lightest {
    background-color: var(--base-lightest);
  } */

  .dog{
    border: 10px solid var(--base-light);
  }
  